.call-to-action{
    margin-top: 70px;
    position: relative;
    background-color: #8B9A46;
    background-image: url('../img/3.png');
    background-size: cover;
    padding: 50px 0 35px 0;
    .property-text{
        @include media('sm') {
            text-align: center;
        }
        h4{
            color: $white;
            font-size: 20px;
        }
        p{
            color: $white;
            font-size: 14px;
        }
    }
    .submit-btn{
        position: relative;
        border: 1px solid $white;
        padding: 10px 30px;
        color: $white;
        font-size: 14px;
        border-radius: 30px;
        font-weight: 600;
        background: transparent;
        transition: all .3s;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken($brand-color, 15%);
            transition: all .3s;
            border-radius: 10rem;
            z-index: -1;
        }
        &:hover {
            color: $white;
            &:before {
                width: 100%;
            }
        }
    }

    .action-btn{
        @include media('sm') {
            text-align: center;
        }
        text-align: right;
    }
}