.cameron-listing-section {
  padding: 100px 0;

  .cameron-text {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .featured-list {
    @include media("sm") {
      display: block;

    }
    display: flex;
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .thumb {
      @include media("sm") {
        width: auto;
        height: auto;
        max-width: 100%;
      }
      display: flex;
      height: 200px;
      max-width: 300px;
      margin: 10px;
      position: relative;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;

      img {
        display: block;
        max-width: 100%;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
      }


      .thumb-cntn {
        z-index: 1;
        .tag-one {
          position: absolute;
          top: 20px;
          left: 20px;
          right: 20px;
          bottom: 0;

          li {
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 8px;
            height: 30px;
            line-height: 30px;
            margin-right: 5px;
            width: 58px;
            text-align: center;

            a {
              font-size: 14px;
              color: #fefefe;
              line-height: 1.2;
              text-decoration: none;
            }
          }
        }

        .tag-two {
          position: absolute;
          top: 25px;
          left: auto;
          right: 20px;
          bottom: 0;

          li {
            a {
              background-color: #ED4949;
              border-radius: 8px;
              color: #fff;
              font-size: 14px;
              height: 30px;
              padding: 8px 20px;
              text-decoration: none;
            }
          }
        }

        .listining-reviews {
          position: absolute;
          left: 20px;
          bottom: 15px;

          li {
            margin-right: 2px !important;

            a {
              text-decoration: none;
              color: $white;
              font-size: 12px;
            }
          }
        }

      }
    }

    .details {
      position: relative;

      .adventure-content {
        position: relative;
        padding: 35px 20px 10px;

        h4 {
          font-size: 18px;
          color: $text-color;
          font-weight: 500;
          line-height: 26px;
        }

        p {
          font-size: 14px;
          color: $text-color-light;
          line-height: 30px;

          i {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: $black;
            line-height: 30px;
            text-align: center;
            color: $white;
            margin-right: 5px;
          }
          .icon-three{
            background: #FE3780;
            color: $white;
          }
          .icon-five{
            background: #290A89;
            color: $white;
          }
          .icon-seven{
            background: #FFD825;
            color: $white;
          }
          .icon-nine{
            background: #276ACE;
            color: $white;
          }
        }

        .prop-details {
          li {
            margin-right: 30px;

            a {
              font-size: 15px;
              color: $text-color;
              line-height: 22px;
              text-decoration: none;

              i {
                padding-right: 5px;
                color: $text-color-light;
              }
            }
          }
        }

        .prop-ftr {
          padding-top: 15px;

          .outdor-actv {
            display: flex;

            li {
              a {
                text-decoration: none;
                color: $text-color;
                line-height: 30px;

                i {
                  height: 30px;
                  width: 30px;
                  border-radius: 50%;
                  background: $yellow;
                  line-height: 30px;
                  text-align: center;
                  color: $white;
                  margin-right: 5px;
                }

                .icon-four{
                  background: #33A0DD;
                  color: $white;
                }

                .icon-six{
                  background: #FF5959;
                  color: $white;
                }

                .icon-eight{
                  background: #DD33A3;
                  color: $white;
                }

                .icon-ten{
                  background: #DD3333;
                  color: $white;
                }
              }
            }
          }

          .heart-search-icon {
            display: flex;
            justify-content: end;

            li {
              a {
                i {
                  color: $text-color-light;
                  font-size: 16px;
                }

                .activities-icon-one {
                  margin-top: 8px;
                }

                .activities-icon-two {
                  color: #a1a1a1;
                  height: 30px;
                  width: 30px;
                  border-radius: 50%;
                  background: #eeeefe;
                  padding: 8px;
                  margin-left: 20px;
                }

              }
            }
          }
        }

      }

    }

  }
  .reviews-content{
    .total-reviews {
      h4 {
        font-size: 16px;
        color: $text-color;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 0;
      }
    }
      .thum-one-area{
          //@include media("sm") {
          //  display: block;
          //}
        padding: 30px 0 0;
        display: flex;
        img{
          max-width: 100%;
          isplay: block;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          border: 2px solid $white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin-right: 25px;
        }
        .thum-body{
          h4{
            color: $text-color;
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            margin-bottom: 0;
          }
          .date-time{
            @include media("sm") {
              display: block;
            }
            display: flex;
            justify-content: space-between;
            span{
              color: $text-color-light;
              font-size: 12px;
            }
            .review-right{
              .reviews{
                  @include media("sm") {
                    margin-top: 10px;
                  }
                li{
                  margin-right: 2px !important;
                  a{
                    color: $text-color-light;
                    font-size: 14px;
                    text-decoration: none;
                  }
                }
              }
            }
          }
          p{
            margin-top: 20px;
            font-size: 14px;
            color: $text-color-light;
            line-height: 1.857;
          }

        }
      }
    .image-list-item{
      padding: 20px 0;
     .image-items{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       @include media("xs") {
         display: block;
       }
       li{
         width: 150px;
         height: 150px;
         margin-right: 10px;
         @include media("xs") {
          display: block;
           margin: 0 auto;
         }
         @include media("lg") {
           margin-bottom: 10px;
         }
         img{
           max-width: 100%;
           border-radius: 8px;
         }
       }
     }
    }

    .thum-two-area{
      //@include media("sm") {
      //  display: block;
      //}
      padding: 30px 0 0;
      display: flex;
      img{
        max-width: 100%;
        isplay: block;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 2px solid $white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-right: 25px;
      }
      .thum-body{
        h4{
          color: $text-color;
          font-size: 16px;
          font-weight: 500;
          line-height: 23px;
          margin-bottom: 0;
        }
        .date-time{
          @include media("sm") {
            display: block;
          }
          display: flex;
          justify-content: space-between;
          span{
            color: $text-color-light;
            font-size: 12px;
          }
          .review-right{
            .reviews{
              @include media("sm") {
                margin-top: 10px;
              }
              li{
                margin-right: 2px !important;
                a{
                  color: $text-color-light;
                  font-size: 14px;
                  text-decoration: none;
                }
              }
            }
          }
        }
        p{
          margin-top: 20px;
          font-size: 14px;
          color: $text-color-light;
          line-height: 1.857;
        }

      }
    }


  }
  .sidebar {
    .contact-area {
      border: 1px solid #eaeaea;
      border-radius: 8px;
      padding: 30px;
      position: relative;
      margin-bottom: 30px;

      h4 {
        color: $text-color;
        font-size: 18px;
        margin-bottom: 15px;
      }

      ul {
        li {
          line-height: 35px;
          display: flex;

          i {
            line-height: 35px;
            margin-right: 15px;
          }

          a {
            color: $text-color-light;
            font-size: 14px;
            text-decoration: none;
          }
        }
      }
    }
    .about-area{
      border: 1px solid #eaeaea;
      border-radius: 8px;
      padding: 30px;
      position: relative;
      margin-bottom: 30px;
      h4 {
        color: $text-color;
        font-size: 18px;
        margin-bottom: 15px;
      }
      p{
        font-size: 14px;
        color: $text-color-light;
        margin: 0 0 10px;
      }
    }

  }

}