header {
  width: 100%;
  position: fixed;
  z-index: 1000;

  .navbar {
    background-color: transparent !important;
    padding: 15px 10px;

    .navbar-toggler {
      color: $white;

      @include media("md") {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 0 !important;
        background-color: transparent !important;
        border: none !important;
        border-radius: 0 !important;
        transition: 0 !important;
        align-items: center;
      }

      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none !important;
      }
    }

    .navbar-brand {
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 4px;

      span {
        color: $brand-color;
        font-size: 25px;
      }

    }

    .search-box {
      @include media("md") {
        display: none;
      }
      position: relative;

      ::placeholder {
        color: $white;
      }

      .form-control {
        position: relative;
        background-color: transparent !important;
        border: none !important;
        color: $white !important;
        font-size: 14px !important;
        min-width: 220px !important;
      }

      .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 20px;
        text-align: center;
        pointer-events: none;
        color: $white;
        right: 0px;
      }
    }

    .navbar-nav {
      margin-left: auto !important;
      @include media("md") {
        margin-top: 20px !important;
        padding: 10px 0;
        background: rgb(0, 0, 0) !important;
      }

      li {
        @include media("md") {
          width: 100%;
          min-height: 1px;
          padding: 0 15px;
          &.scrolled {
            background: rgba(0, 0, 0, .8) !important;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @include transition(0.75s ease);
          }
        }
        position: relative;
        @include transition(0.75s ease);

        a {
          color: $white;
          padding-left: 15px !important;
          padding-right: 15px !important;
          @include media("md") {
            padding: 10px;
            border-radius: 10px;
          }

          &:hover {
            @include media("md") {
              background-color: $brand-color;
              color: $white;
              @include transition(0.75s ease);
            }
            color: $brand-color;
          }
        }

        .nav-item {
          font-weight: 600;
          padding-left: 10px;

          .nav-link:hover {
            color: $black;
          }

          a {
            i {
              margin-right: 5px;
            }
          }
        }

        .dropdown {
          @include media("md") {
            display: none;
          }
          background-color: $brand-color;
          position: absolute;
          top: 120%;
          right: 10px;
          z-index: 9999;
          border-radius: 5px;
          visibility: hidden;
          @include transition(0.75s ease);

          li {
            list-style-type: none;
            text-align: left;
            padding: 8px 0 8px 18px;
            border-bottom: 1px solid $white;
            width: 200px;

            &:last-child {
              border-bottom: none;

            }

            a {
              text-decoration: none;
              color: $white;

              &:hover {
                color: $black;
              }
            }
          }

          &:before {
            position: absolute;
            content: " ";
            height: 20px;
            width: 20px;
            background: $brand-color;
            right: 20px;
            top: -10px;
            transform: rotate(45deg);
            z-index: -1;
          }
        }

        &:hover .dropdown {
          visibility: visible;
          @include transition(0.75s ease);
        }

        .listing-btn {
          @include media("md") {
            display: none;
          }
          display: inline-block;
          height: 40px;
          width: 140px;
          border-radius: 50px;
          color: $white;
          font-size: 14px;
          letter-spacing: .7px;
          line-height: 26px;
          transition: all .3s;
          position: relative;
          overflow: hidden;
          z-index: 1;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $brand-color;
            border: 1px solid $brand-color;
            border-radius: 10rem;
            z-index: -2;
          }

          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken($brand-color, 15%);
            transition: all .3s;
            border-radius: 10rem;
            z-index: -1;
          }

          &:hover {
            color: $white;

            &:before {
              width: 100%;
            }
          }

          i {
            margin-right: 5px;
            font-size: 12px;
          }

        }
      }
    }
  }
}

.banner-img {
  @include media("md") {
    background-position: 20% center;
  }

  position: relative;
  background-image: url("../img/banner-img.jpg");
  background-size: cover;
  background-position: center center;
  height: 860px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.7),
                    rgba(0, 0, 0, 0.7)
    );
  }

  .banner-img-content {
    position: relative;
    z-index: 2;
    padding: 0 30px;

    h1 {
      color: $white;
      font-weight: 600;
      font-size: 40px;
      line-height: 35px;
      @include media("sm") {
        font-size: 25px;
        line-height: 40px;
      }
    }

    p {
      color: $white;
      font-weight: 400;
      font-size: 14px;
      line-height: 60px;
      @include media("sm") {
        line-height: 25px;
      }
    }

    .middle-search-box {
      display: flex;
      background: $white;
      padding: 5px 15px;
      border-radius: 40px 40px;
      margin: 0 10px;
      position: relative;

      label {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 400;
        padding: 0 10px 0 20px;
      }

      .where-label {
        margin-left: 5px;

        &::before {
          content: " ";
          position: absolute;
          background: #efefef;
          height: 40px;
          width: 1px;
          top: 10px;
          right: 335px;
          margin-right: 5px;
        }
      }

      input {
        background-color: transparent;
        border: none;
      }

      .where-input {
        max-width: 200px;
      }

      span {
        color: $white;
        padding: 15px;
        background: $brand-color;
        border-radius: 50%;
        font-size: 18px;

        &:hover {
          background-color: darken($brand-color, 20%);
          transition: all .3s;
        }
      }

      ::placeholder {
        color: $light-gray;
      }

      .what-input {
        position: relative;
      }
    }

    .responsive-search-area {
      display: none;

      .responsive-search-box {
        background: $white;
        padding: 5px 15px;
        margin: 15px 0;
        border-radius: 40px 40px;
        display: flex;
        position: relative;
        z-index: 999;

        label {
          font-size: 16px;
          font-weight: 400;
          padding: 8px 10px 0 20px;
        }

        input {
          position: relative;
          border: none;
        }

        span {
          color: $white;
          padding: 10px;
          background: $brand-color;
          border-radius: 50%;
          font-size: 18px;

          &:hover {
            background-color: darken($brand-color, 20%);
            transition: all .3s;
          }
        }

        ::placeholder {
          color: $light-gray;
        }

        .what-input-two {
          position: relative;
        }
      }
    }

    @include media("xs") {
      .responsive-search-area {
        display: block;
      }
      .middle-search-box {
        display: none;
      }
    }
  }
}

header.scrolled {
  background: rgba(0, 0, 0, .8) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @include transition(0.75s ease);
}

#explore {
  background: $white !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .explore-brand {
    color: $black;
  }

  .explore-nav {
    li {
      a {
        color: $black;
        &:hover{
          color: $brand-color;
        }
      }
      .explore-listing-btn{
        color: $white;
        &:hover{
          color: $white;
        }
      }
    }
  }

  .explore-search-box{
    span{
      color: $black;
    }
    .explore-search {
      color: $black !important;
      &::placeholder {
        color: $black;
      }
    }
  }
  .explore-dropdown{
    li{
      a:hover{
        color: $white;
      }
    }
  }
}

